extends layout

block content
    .main 
        if messages.length
            h2 Messages
            
            
            each message in messages
                .messages
                    h3=message.title

                    - var postedBy = message.user

                    if user && user.member
                        if postedBy
                            p by: #{postedBy.name}
                    else
                        p Anonymous
                    p=message.createdAt
                    h4=message.text

                    if user && user.admin
                        .delete
                            a(href=`/message/${message._id}`) Delete
        else
            p No messages
